@model CategoryModel

<h1 class="h3">Create Category</h1>
<hr>

<form asp-controller="Admin" asp-action="AddCategory" method="POST">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input id="categoryName" class="form-control" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Url</label>
        <div class="col-sm-10">
            <input id="categoryUrl" class="form-control" asp-for="Url" readonly/>
            <span class="text-danger" asp-validation-for="Url"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Save Category</button>
        </div>
    </div>

</form>
@section Scripts{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    
<script>
    $(document).ready(function () {

        $('#categoryName').keyup(function () {

            const trCharsMap = {
                Ç: 'C', Ö: 'O', Ş: 'S', İ: 'I', I: 'i', Ü: 'U', Ğ: 'G',
                ç: 'c', ö: 'o', ş: 's', ı: 'i', ü: 'u', ğ: 'g'
            };

            var text = $('#categoryName').val();

            for (var char in trCharsMap) {
                text = text.replace(new RegExp('[' + char + ']', 'g'), trCharsMap[char]);
            }
            var url = text.replace(/[^-a-zA-Z0-9\s]+/ig, '')
                .replace(/\s/gi, "-")
                .replace(/[-]+/gi, "-")
                .toLowerCase();

            $('#categoryUrl').val(url);
        });
    });
</script>
}