@model ProductListViewModel

<h1>Admin Orders</h1>
<hr>

@if (Model.Products.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Ürün</td>
                <td>Alışveriş Tutarı</td>
                <td>Müşteri</td>
                <td>İşlemler</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td></td>
                    <td>
                        <a href="/admin/orders/@item.OrderId" class="btn btn-primary btn-sm mr-2">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">Ürün Bulunamadı derim.</div>
}
