<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Shopapp</title>
</head>

<body>

    @await Html.PartialAsync("_navbarTemp")

    <main class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["message"] != null)
                    {
                        <partial name="_resultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    @RenderSection("Scripts",false)
</body>

</html>